/*------------------ Reset CSS ------------------- */
html { overflow-y:scroll; height:100%;overflow: hidden; }
body { height:100%; overflow: auto; }
body, button, dd, div, dl, dt, fieldset, form, input, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, textarea, ul { margin:0; padding:0; }
body, h1, h2, h3, h4, h5, h6 { font:300 13px/1.5 'Open Sans', sans-serif; }
button, input { color:#555555; font:300 13px 'Open Sans', sans-serif; }
table { border-collapse:collapse; border-spacing:0; font:inherit; }
fieldset, img { border:none; }
address, caption, cite, code, em, th, h1, h2, h3, h4, h5, h6 { font-style:normal; font-weight:600; }
caption, th { text-align:left; }
ol, ul, li { list-style:none; text-indent:0; }
button, input[type="button"], input[type="submit"] { overflow:visible; cursor:pointer; }
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { border:none; margin:0; outline:none; padding:0; }
button:focus, button:active, input:focus, input:active { outline:none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; margin:0; padding:0; }
/*--------------- Links -------------------- */
a { text-decoration:none; }
p a, p .link, a:hover, a:active, a:focus, a.underline, button.underline { text-decoration:underline; }
.link { -webkit-appearance:none; background:none; border:0; -webkit-box-shadow:none; box-shadow:none; color:#445708; cursor:pointer; padding:0; text-decoration:none; text-align:left; }
.link:active,
.link:hover,
.link:focus { text-decoration:underline; }
/*------------------------------------------- */
/*--------------- Type defaults -------------------- */
/* Other type elements */
strong,
b { font-weight:bold; }
cite,
em,
i { font-style:italic; }
.thin { font-weight:300; }
.light-bold { font-weight:500; }
.semi-bold { font-weight:600; }
.bold { font-weight:700; }
.italic { font-style:italic; }
.slightSpace { letter-spacing:.05em; }
.spaced { letter-spacing:.2em; }
/********************************************************************************/