/*------------------ Add CSS Here ------------------- */

label{
	display: block;
	width: 320px;
	clear: both;
	height: 33px;
}

fieldset{
	border: 0;
	margin-left: 80px;
}

form{
	margin-top: 70px;
	position:relative;
}

label input,label textarea{
	width: 200px;
	float: right;
}

label[for=message]{
	width: 285px;
	position: absolute;
	top: 0px;
	left: 360px;
}
#message{
	height: 117px;
}
#submit{
	position: absolute;
	top: 100px;
	left: 670px;
}
