/*------------------ Add CSS Here ------------------- */

h2{
	text-transform: uppercase;
}

fieldset{
	border: 0;
	margin-left: 80px;
}

label{
	width: 320px;
	clear: both;
	display: block;
}

label input,label textarea{
	width: 200px;
	display: block;
	color: #2A2A2A;
}

#message{
	height: 117px;
}

/* Mobile */

form{
	margin-top: 30px;
}

label input,label textarea{
	margin-bottom: 5px;
}

/* Browser */
@media screen and (min-width: 855px){

	form{
		margin-top: 70px;
		position:relative;
	}

	label{
		display: block;
		height: 33px;
		margin-bottom: 0;
	}

	label input,label textarea{
		float: right;
	}

	label[for=message]{
		width: 285px;
		position: absolute;
		top: 0px;
		left: 360px;
	}

	#submit{
		position: absolute;
		top: 100px;
		left: 670px;
	}

}
